.recipe {
  margin-block: 1rem;
  border-bottom: 2px dashed black;
  padding: 1rem;
  padding-top: 0;
  padding-left: 0;
}

.recipe:first-child {
  margin-top: 0;
}

.recipe header {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.recipe-name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-row {
  flex-direction: row;
  gap: 1rem;
}

.buttons {
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.button {
  font-size: 1rem;
  font-family: inherit;
  padding: 6px 10px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.label {
  font-weight: 600;
}

.details .section {
  margin-bottom: 0.5rem;
}

.label-value {
}

.button-edit {
  background: #169873;
}

.button-edit:hover {
  background: #34b490;
}

.button-delete {
  background-color: #c42847;
}
.button-delete:hover {
  background-color: #d73959;
}

.indent {
  padding-left: 1.5rem;
}

.instructions {
  white-space: pre-wrap;
}

.ingredients {
  width: max-content;
}

.ingredient {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
